body {
    margin: 0;
    font-size: 20px;
}
h1,h2,h3,h4 {
    font-family: 'Montserrat Regular', sans-serif;
    font-weight: 600;
    margin: 0;
}
p, a {
    font-family: 'Montserrat Regular', sans-serif;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.list {
    list-style-type: none;
    padding: 0;
}

.d-flex {
    display: flex;
}
.fd-c {
    flex-direction: column;
}

/* section settings */
.section {
    padding-top: 110px;
}
.section-body {
    display: flex;
}
.section-title {
    font-size: 3.5rem;
    color: var(--primary-color);
    margin-left: 15.625%;
}
.section-outside {
    width: 8.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #fff;
}
.section-outside .outside-title {
    transform: rotate(-90deg);
    color: #FFFFFF;
    font-size: 40px;
    padding-left: 91px;
}

.secondary-color {
    color: var(--secondary-color);
}

/* buttons */

.button {
    line-height: 1.9rem;
    padding: 9px 46px;
    border: 2px solid #2F80ED;
    background-color: #2F80ED;
    color: #ffffff;
}
.button-not-fill {
    background-color: transparent;
    color: #2F80ED;
}
.button:hover {
    background-color: rgb(255, 255, 255,.3);
    border-color: rgb(255, 255, 255,.3);
    transition: .5s ease;
    color: var(--secondary-color);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-body {
    position: relative;
    height: 100%;
    overflow: hidden;
}